--extra-index-url https://download.pytorch.org/whl/cu128

argparse
scipy
opencv-python
opencv-contrib-python
matplotlib
imageio
tqdm
tensorflow[and-cuda]
# torch.utils.tensorboard
tqdm
pyyaml
imageio
imgaug
jupyter
scikit-learn
pandas
numpy
pycocotools
torchinfo
kornia
coloredlogs
tensorflow-addons
# panopticapi
git+https://github.com/cocodataset/panopticapi.git

